<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo</title>

    <!-- MathJax -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <h1>Soluções dos problemas</h1>
        
        <hr>

        <ol class="lista-questoes">
            <li class="questao">
                <p class="enunciado">
                    Converta \(300°\) para radianos.
                </p>

                <ul class="alternativas">
                    <li>
                        <input type="radio" name="alternativa" id="opcao1">
                        <label for="option1">5π/3</label>
                    </li>
                    <li>
                        <input type="radio" name="alternativa" id="opcao2">
                        <label for="option2">3π/2</label>
                    </li>
                    <li>
                        <input type="radio" name="alternativa" id="opcao3">
                        <label for="option3">2π/3</label>
                    </li>
                    <li>
                        <input type="radio" name="alternativa" id="opcao4">
                        <label for="option4">π/6</label>
                    </li>
                </ul>

                <section class="solucao">
                    <p class="titulo-solucao">Solução</p>
                    
                    <p class="solucao">
                        Sabendo que \(\displaystyle\pi = 180^\circ\Rightarrow \frac{\pi}{180^\circ} = 1\), temos que:
    
                        \[
                        \begin{aligned}
                            300^\circ & = 300^\circ\times\frac{\pi}{180^\circ} \\
                            & = \frac{300^\circ\pi}{180^\circ} \\
                            & = \frac{5}{3}\pi \\
                        \end{aligned}        
                        \]
                    </p>
                </section>
            </li>

            <li class="questao">
                <p class="enunciado">
                    &lt;ENUNCIADO&gt;.
                </p>

                <ul class="alternativas">
                    <li>
                        <input type="radio" name="alternativa" id="opcao1">
                        <label for="option1">Alternativa 1</label>
                    </li>
                    <li>
                        <input type="radio" name="alternativa" id="opcao2">
                        <label for="option2">Alternativa 2</label>
                    </li>
                    <li>
                        <input type="radio" name="alternativa" id="opcao3">
                        <label for="option3">Alternativa 3</label>
                    </li>
                    <li>
                        <input type="radio" name="alternativa" id="opcao4">
                        <label for="option4">Alternativa 4</label>
                    </li>
                </ul>

                <section class="solucao">
                    <p class="titulo-solucao">Solução</p>
    
                    <p class="solucao">
                        &lt;SOLUCÃO COMPLETA AQUI&gt;
                    </p>
                </section>
            </li>

            <li class="questao">
                <p class="enunciado">
                    &lt;ENUNCIADO&gt;.
                </p>

                <ul class="alternativas">
                    <li>
                        <input type="radio" name="alternativa" id="opcao1">
                        <label for="option1">Alternativa 1</label>
                    </li>
                    <li>
                        <input type="radio" name="alternativa" id="opcao2">
                        <label for="option2">Alternativa 2</label>
                    </li>
                    <li>
                        <input type="radio" name="alternativa" id="opcao3">
                        <label for="option3">Alternativa 3</label>
                    </li>
                    <li>
                        <input type="radio" name="alternativa" id="opcao4">
                        <label for="option4">Alternativa 4</label>
                    </li>
                </ul>

                <section class="solucao">
                    <p class="titulo-solucao">Solução</p>
    
                    <p class="solucao">
                        &lt;SOLUCÃO COMPLETA AQUI&gt;
                    </p>
                </section>
            </li>

            <li class="questao">
                <p class="enunciado">
                    &lt;ENUNCIADO&gt;.
                </p>

                <ul class="alternativas">
                    <li>
                        <input type="radio" name="alternativa" id="opcao1">
                        <label for="option1">Alternativa 1</label>
                    </li>
                    <li>
                        <input type="radio" name="alternativa" id="opcao2">
                        <label for="option2">Alternativa 2</label>
                    </li>
                    <li>
                        <input type="radio" name="alternativa" id="opcao3">
                        <label for="option3">Alternativa 3</label>
                    </li>
                    <li>
                        <input type="radio" name="alternativa" id="opcao4">
                        <label for="option4">Alternativa 4</label>
                    </li>
                </ul>

                <section class="solucao">
                    <p class="titulo-solucao">Solução</p>
    
                    <p class="solucao">
                        &lt;SOLUCÃO COMPLETA AQUI&gt;
                    </p>
                </section>
            </li>

            <li class="questao">
                <p class="enunciado">
                    &lt;ENUNCIADO&gt;.
                </p>

                <section class="solucao">
                    <p class="titulo-solucao">Solução</p>
    
                    <p class="solucao">
                        &lt;SOLUCÃO COMPLETA AQUI&gt;
                    </p>
                </section>
            </li>
        </ol>

        <button>Enviar</button>
    </main>
</body>
</html>